.shop {
  background: rgb(241, 242, 246);
  font-family: Arial;
  height: 100%;
}

.commodity-list {
  background: white;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 80%;
  padding: 40px 20px;
  margin: 20px auto;
}

.commodity-wrapper {
  margin: 20px;
  border: 1px solid #cccccc;
}