.order {
  background: rgb(241, 242, 246);
  font-family: Arial;
  height: 100%;
}

.table-wrapper {
  background: white;
  width: 60%;
  padding: 40px 20px;
  margin: 20px auto;
}

table {
  text-align: center;
  border-collapse: collapse;
  width: 100%;
}

thead {
  background: #eeeeee;
}

th, td {
  border-bottom: 1px solid #aaaaaa;
  height: 45px;
  text-transform: capitalize;
}