.nav {
  display: flex;
  align-items: center;
  list-style: none;
  background: rgb(6, 22, 39);
  font-family: Arial;
  margin: 0;
  padding: 0;
  height: 60px;
}

.nav-item {
  margin: 0 20px;
  padding: 0;
}

.nav-link {
  color: white;
  text-decoration: none;
  padding: 18px;
  display: flex;
  justify-content: center;
}

.selected {
  color: white;
  background: rgb(62, 145, 247);
}

.icon {
  height: 20px;
  width: 20px;
}